<div class="spot-name col-md-12">
    <span><%= spotName %></span>
</div>
<div class="spot-moves col-md-12">
    <% moves.each(function(move){ %>
        <div class="move <%= isOwnMove(move) ? 'own-move' : '' %>">
            <div class="move-time">
                <span><%= move.get('time').format('h:mm') %></span>
            </div>
            <div class="move-name">
                <span>
                    <% if (isOwnMove(move)) { %>
                        You <span class="glyphicon glyphicon-pencil"></span>
                    <% } else { %>
                        <%- move.get('user') %>
                    <% } %>
                </span>
            </div>
        </div>
        <% if (isOwnMove(move)) { %>
            <div data-toggle="tooltip" data-placement="bottom" title="Delete"
              class="delete" data-ui="delete">
                <span class="glyphicon glyphicon-trash"></span>
            </div>
        <% } %>
    <% }) %>
    <% if (!hasOwnMove) { %>
        <div class="move move-new" data-ui="addMove">
            <div class="move-icon">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="move-name">
                <span>Go Here</span>
            </div>
        </div>
    <% } %>
</div>
