{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'app/public/assets/css/styles.css' %}">
    <title>Lunchmove.info</title>
</head>
<body>
    <header id="header" class='navbar navbar-static-top main-header'>
        <div class="container">
            <div class="navbar-header">
                <h1>Lunchmove</h1>
            </div>
        </div>
    </header>
    <div id="app"></div>
    <script type="text/javascript">
        var lunchmove = {
            recent_move: {{ recent_move|safe }}
        };
    </script>
    <script src="{% static 'app/public/vendor.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/public/app.js' %}" type="text/javascript"></script>
</body>
</html>
