header.main-header {
    .navbar-header {

        h1 {
            font-size: 48px;
            font-variant: small-caps;
        }
    }

    #navbar {
        .navbar-nav {
            padding-left: 20px;

            li > a {
                padding-top: 47px;
            }
        }

    }

    box-shadow: 0 0 3px rgba(0,0,0,0.8);
}
