<div data-ui="modalBody">
    <form class="form-inline lunch-move-form">
        <div class="lunch-move-form-row">
            <div class="form-group">
                <p class="form-control-static">You are eating</p>
            </div>
            <div class="form-group">
                <input class="form-control spot-field" type="text" name="spotName" placeholder="place">
                <input type="hidden" name="spot">
            </div>
            <div class="form-group">
                <p class="form-control-static">at</p>
            </div>
            <div class="form-group">
                <input class="form-control time-field" type="text" name="time" placeholder="time">
            </div>
        </div>
        <div class="lunch-move-form-row">
            <button type="submit" class="btn btn-default" data-saving-text="Saving...">Save</button>
            <button data-ui="cancel" class="btn btn-default">Cancel</button>
        </div>
    </form>
</div>
