<div class="container">
    <div class="navbar-header">
        <form class="navbar-form navbar-left lunch-move-form">
            <div class="form-group">
                <p class="form-control-static">You are eating</p>
            </div>
            <div class="form-group">
                <input class="form-control spot-field" type="text" name="spot" placeholder="place">
                <input type="hidden" name="spot_id">
            </div>
            <div class="form-group">
                <p class="form-control-static">at</p>
            </div>
            <div class="form-group">
                <input class="form-control time-field" type="text" name="time" placeholder="time">
            </div>
            <button type='submit' class='btn btn-success'>Save</button>
        </form>
    </div>
    <nav id="navbar" class="collapse navbar-collapse"></nav>
</div>
