<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>What's the lunch move?</h1>
            <ul class="list-group"></ul>
            <form class="form-inline">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="user">
                </div>
                <div class="form-group">
                    <label>Spot</label>
                    <input type="text" class="form-control" name="spot">
                    <input type="hidden" name="spot_id">
                </div>
                <button type="submit" class="btn btn-success">Submit!</button>
            </form>
        </div>
    </div>
</div>
